@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条但保留平滑滚动功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.22s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
